<h5>Sign up</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="form-floating mb-3">
     <%= f.text_field :name, autofocus: true, autocomplete: "name", id: "nameInput", class: "form-control", placeholder: "Your Name" %>
     <%= f.label :name, for: "nameInput" %>
  </div>


  <div class="form-floating mb-3">
     <%= f.text_field :username, autocomplete: "username", id: "usernameInput", class: "form-control", placeholder: "example" %>
     <%= f.label :username, for: "usernameInput" %>
  </div>

  <div class="form-floating mb-3">
     <%= f.email_field :email, autocomplete: "email", id: "emailInput", class: "form-control", placeholder: "name@example.com" %>
     <%= f.label :email, for: "emailInput" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "new-password", id: "passwordInput", class: "form-control", placeholder: "password" %>
    <%= f.label :password, for: "passwordInput" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "passwordConfirmationInput", class: "form-control", placeholder: "password" %>
    <%= f.label :password_confirmation, for: "passwordConfirmationInput" %>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="d-grid gap-2">
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>